/* BASIC */

:root {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Typography */

a {
    text-decoration: none;
    color: #000;
    transition: color .3s, border .3s;
}

a:visited {
    color: #666;
}

a:hover, a:active {
    color: #007FFF;
    border-color: #007FFF;
}

.sub {
    font-size: .8rem;
    color: #999;
}

/* LAYOUT */

main {
    position: relative;
    margin: 0;
    min-width: 100vw;
    padding-top: 10vh;
    height: 80vh;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
}

main a {
    border: 2px solid #ddd;
    padding: .2rem 0;
    margin: .2rem 0;
}

main .sub {
    margin-right: .3rem;
}

/* TIMELINE */

.timeline {

}

.stories {
    margin: 0;
    padding: 0;
    list-style: none;
}

.stories .story {
    position: relative;
    margin: 1rem 1rem 0 2rem;
    padding-left: .5rem;
}

.story .date {
    position: absolute;
    top: -2.5rem;
    right: 0;
    font-size: .6rem;
    font-weight: bold;
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
}

.story .content {
    font-weight: 100;
}

/* CONTENT */

.content::first-letter {
    color: #007FFF;
}

.content p {
    line-height: 1.5rem;
}

.content strong {
    font-weight: bold;
}

.content img {
    max-height: 50%;
}

.content ul {
    list-style: none;
    padding-left: 0;
    padding-top: 0;
}

.content ul li {
    position: relative;
    margin: 0 .5rem;
    padding-top: 1rem;
}

.content ul li:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0; right: 0;
    border-top: 2px solid #EAEAEA;
    transition: border .3s;
}

.content ul li:hover:after {
    border-top-color: #007FFF;
}

.content blockquote {
    position: relative;
    margin: 0;
    padding: 1.5rem .5rem;
    font-style: italic;
    background-image: linear-gradient(to bottom, #EAEAEA, rgba(255, 255, 255, 0) 20%);
}

/* BACKGROUND */

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.background .float {
    position: absolute;
}

.boat {
    bottom: 5vh;
    right: 10vw;
    animation: boat 10s infinite alternate;
}

@keyframes boat {
    0% {
        transform: translate3d(0, 0, 0);
    }
    30% {
        transform: translate3d(.3rem, -.5rem, 0);
    }
    70% {
        transform: translate3d(-.4rem, .2rem, 0);
    }
    100% {
        transform: translate3d(.2rem, -.7rem, 0);
    }
}
