/* BASIC */

:root {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
}

/* Typography */

a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #ddd;
    transition: color .3s, border .3s;
}

a:visited {
    color: #666;
}

a:hover, a:active {
    color: #007FFF;
    border-color: #007FFF;
}

.sub {
    font-size: .8rem;
    color: #999;
    margin-top: .3rem;
}

/* LAYOUT */

header {
}

main {

}

footer {
}


@media (min-width: 600px), (orientation: portrait) {
    header, main, footer {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 .5rem;
    }

    header {
        padding: 2rem .5rem;
    }

    header .title {
        font-size: 2.5rem;
        font-weight: 900;
    }

    header a + a {
        margin-left: .5rem;
    }

    main {

    }

    footer {
        padding: 2rem .5rem;
        text-align: center;
    }
}

@media (orientation: landscape) {

}

/* TIMELINE */

.timeline {

}

.stories {
    list-style: none;
    padding-left: 0;
}

.stories .story {
}

.story .date {
    font-weight: 900;
}

.story .content {
    font-weight: 100;
}

@media (min-width: 600px), (orientation: portrait) {
    .stories .story {
        position: relative;
        margin: 1rem 0 4rem;
    }

    .stories .story:after {
        content: " ";
        display: block;
        height: 2px;
        width: 2rem;
        background-color: #eaeaea;
        position: absolute;
        bottom: -2rem;
        transition: width .3s;
    }

    .stories .story:hover:after {
        width: 5rem;
    }

    .story .date {
    }
}

@media (orientation: landscape) {

}

.content::first-letter {
    font-size: 2rem;
    color: #007FFF;
    font-weight: 900;
}

.content strong {
    font-weight: 900;
}

.content img {
    max-width: 80%;
    max-height: 10rem;
    display: block;
    border: 2px solid #eaeaea;
}

.content ul {
    list-style: none;
    padding-left: 0;
}

.content ul li {
    margin: .5rem 0;
    padding-left: 1.5rem;
}

.content ul li:nth-child(5n + 1) {
    background-image: linear-gradient(90deg, #007FFF, #FFFFFF .5rem);
}

.content ul li:nth-child(5n + 2) {
    background-image: linear-gradient(90deg, #007FFF, #FFFFFF 1rem);
}

.content ul li:nth-child(5n + 3) {
    background-image: linear-gradient(90deg, #007FFF, #FFFFFF 1.5rem);
}

.content ul li:nth-child(5n + 4) {
    background-image: linear-gradient(90deg, #007FFF, #FFFFFF 2rem);
}

.content ul li:nth-child(5n + 5) {
    background-image: linear-gradient(90deg, #007FFF, #FFFFFF 2.5rem);
}

.content blockquote {
    margin-left: 0;
    padding: .5rem 1.5rem;
    border: 2px solid #eaeaea;
}
