doctype html
html
    head
        meta(charset='utf-8')
        title @kalasoo
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        link(rel='stylesheet', href='style.css')
    body
        header
            .title @kalasoo
            .sub
                a(href='https://twitter.com/kalasoo') Twitter
                a(href='https://github.com/kalasoo') GitHub
                a(href='https://juejin.im/user/551d677ee4b0cd5b623f49cb') 掘金
                a(href='mailto:ym.kalasoo@gmail.com') Mail
            .sub You don’t have to be great to start, but you have to start to be great. - Zig Ziglar



        main
            section.timeline
                article
                    ul.stories
                        each story in stories
                            li.story
                                p.date=story.date
                                .content!=story.content
        footer
