doctype html
html
    head
        meta(charset='utf-8')
        title @kalasoo
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        link(rel='stylesheet', href='style.css')
    body
        nav#language
            .meta(data-lang='en') 标准
            .meta(data-lang='cn') 中式
        main
            section.timeline
                article
                    ul.stories
                        li.story
                            .date ABOUT
                            .content 
                                h2 明
                                p
                                    a.social-link(href='https://twitter.com/kalasoo') Twitter
                                    a.social-link(href='https://github.com/kalasoo') GitHub
                                    a.social-link(href='https://juejin.im/user/551d677ee4b0cd5b623f49cb') 掘金
                                    a.social-link(href='mailto:ym.kalasoo@gmail.com') Mail
                                blockquote
                                    p 心若止水，泰然處之
                        each story in stories
                            li.story(class=(story.highlight ? "highlight" : ""))
                                .date=story.date
                                .content!=story.content
        a.comments(href='https://github.com/kalasoo/kalasoo.github.io/issues/1', target='_blank')
            .popup 和我聊聊
            img.boat(src='img/boat.png')
        .cover
            h1 Ming Yin
            h2 阴明
            blockquote We can only see a short distance ahead, but we can see plenty there that needs to be done.
        script.
            window.onload = function () {
                var body = document.body
                if (body) {
                    var screenWidth = window.innerWidth
                    var width = body.scrollWidth
                    body.scrollLeft = width - screenWidth
                }
                //- Model
                var lang = localStorage.getItem('lang') || 'en'
                //- Controller
                var langSelections = Array.from(document.querySelectorAll('#language .meta'))
                langSelections.forEach(function(langSelection) {
                    langSelection.addEventListener('click', function(e) {
                        var newLang = e.target.dataset.lang
                        changeLang(lang, newLang)
                        lang = newLang
                        localStorage.setItem('lang', lang)
                    })
                })
                //- View
                var html = document.querySelector('html')
                var changeLang = function(oldLang, newLang) {
                    if (!newLang) return
                    html.classList.remove(oldLang)
                    html.classList.add(newLang)
                    langSelections.forEach(function(langSelection) {
                        if (langSelection.dataset.lang == newLang) {
                            langSelection.classList.add('active')
                        } else {
                            langSelection.classList.remove('active')
                        }
                    })
                }
                changeLang(null, lang)
                //- Cover
                var cover = document.querySelector('.cover')
                setTimeout(function() {
                    cover.classList.add('done')
                }, 1000)
            }