doctype html
html
    head
        meta(charset='utf-8')
        title @kalasoo
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        link(rel='stylesheet', href='style.css')
    body
        main
            section.timeline
                article
                    ul.stories
                        each story in stories
                            li.story(class=(story.highlight ? "highlight" : ""))
                                p.date=story.date
                                .content!=story.content
        a.comments(href='https://github.com/kalasoo/kalasoo.github.io/issues', target='_blank')
            .popup 和我聊聊
            img.boat(src='img/boat.png')
        .background
        script.
            (function() {
                var body = document.body
                if (body) {
                    var screenWidth = window.innerWidth
                    var width = body.scrollWidth
                    body.scrollLeft = width - screenWidth
                }
            })()
