doctype html
html
    head
        meta(charset='utf-8')
        title @kalasoo
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        link(rel='stylesheet', href='style.css')
    body
        header
            .title @kalasoo
            .sub
                a(href='https://twitter.com/kalasoo', target='_blank') Twitter
                a(href='https://github.com/kalasoo', target='_blank') GitHub
                a(href='https://juejin.im/user/551d677ee4b0cd5b623f49cb', target='_blank') 掘金
                a(href='mailto:ym.kalasoo@gmail.com', target='_blank') Mail

        main
            section.timeline
                article
                    ul.stories
                        each story in stories
                            li.story
                                p.date=story.date
                                .content!=story.content
        script.
            (function() {
                var body = document.body
                if (body) {
                    var screenWidth = window.innerWidth
                    var width = body.scrollWidth
                    body.scrollLeft = width - screenWidth
                }
            })()
