doctype html
html
    head
        meta(charset='utf-8')
        title @kalasoo
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        link(rel='stylesheet', href='style.css')
    body
        main
            section.timeline
                article
                    ul.stories
                        li.story
                            p.date ABOUT
                            .content 
                                h2 明
                                p
                                    a(href='https://twitter.com/kalasoo') Twitter
                                    a(href='https://github.com/kalasoo') GitHub
                                    a(href='https://juejin.im/user/551d677ee4b0cd5b623f49cb') 掘金
                                    a(href='mailto:ym.kalasoo@gmail.com') Mail
                                blockquote
                                    p 心若止水，泰然處之
                        each story in stories
                            li.story(class=(story.highlight ? "highlight" : ""))
                                p.date=story.date
                                .content!=story.content
        a.comments(href='https://github.com/kalasoo/kalasoo.github.io/issues/1', target='_blank')
            .popup 和我聊聊
            img.boat(src='img/boat.png')
        .background
        script.
            window.onload = function () {
                var body = document.body
                if (body) {
                    var screenWidth = window.innerWidth
                    var width = body.scrollWidth
                    body.scrollLeft = width - screenWidth
                }
            }
